---
const { post } = Astro.props
const date = new Date(post.data.pubDate).toLocaleDateString('en-US', {
	month: 'short',
	day: '2-digit'
})
---

<a href={`/posts/${post.slug}`} class='article-wrapper'>
	<figure class='article'>
		<img src={post.data.image.url} alt={post.data.image.alt} class='image' />
		<div class='article-content'>
			<div class='data'>
				<p>
					{date}
				</p>
				<p>5 min read</p>
			</div>
			<h2>
				{post.data.title}
			</h2>
			<p>
				{post.data.description}
			</p>
		</div>
	</figure>
</a>

<style is:global>
	.article {
		text-align: left;

		h2 {
			font-size: 1.5rem;
			font-weight: 700;
			max-width: 65ch;
			margin-bottom: 1rem;
		}
		.image {
			width: 100%;
			background-color: rgb(170, 170, 170);
			aspect-ratio: 14/9;
		}

		.data {
			display: flex;
			justify-content: center;
			gap: 1rem;
			margin-bottom: 0.25rem;
		}

		.article-content {
			padding: 1rem;
		}
	}

	.article-wrapper {
		text-decoration: none;
		color: black;
		border-radius: 1rem;
		overflow: hidden;
		transition: box-shadow 0.4s ease-in-out;
	}

	.article-wrapper:hover {
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	}
	@media (min-width: 780px) {
		.article {
			.image {
				width: 100%;
				background-color: rgb(170, 170, 170);
			}
		}
	}
</style>
