---
const { post } = Astro.props
const date = new Date(post.data.pubDate).toLocaleDateString('en-US', {
	month: 'short',
	day: '2-digit'
})
---

<a href={`/posts/${post.slug}`} class='article-wrapper'>
	<figure class='article'>
		<img src={post.data.image.url} alt={post.data.image.alt} class='image' />
		<div class='article-content'>
			<div class='data'>
				<p>
					{date}
				</p>
				<p>5 min read</p>
			</div>
			<h2>
				{post.data.title}
			</h2>
			<p class='subtitle card-text'>
				{post.data.description}
			</p>
		</div>
	</figure>
</a>

<style is:global>
	.article {
		display: var(--grid, flex);
		grid-template-columns: 1fr;
		flex-direction: column;
		gap: 1rem;
		padding-bottom: 1rem;

		height: 100%;
		h2 {
			font-size: 1.5rem;
			font-weight: 700;
			max-width: 65ch;
			color: var(--text-color-500);
		}
		.image {
			padding: ;
			display: var(--display, block);
			width: 100%;
			background-color: rgb(170, 170, 170);
			object-fit: cover;
			aspect-ratio: 384/228;
		}

		.data {
			display: flex;
			justify-content: var(--align, left);
			gap: 1rem;
			margin-bottom: 0.25rem;
			font-size: 0.625rem;
			line-height: 1.25rem;
			letter-spacing: 0.1px;
			text-transform: uppercase;
			font-family: 'Franklin', 'Helvetica', sans-serif;
			color: var(--text-color-300);
		}

		.article-content {
			padding: var(--padding, 1rem);
			padding-top: 0;
			text-align: var(--align, left);

			.card-text {
				margin-top: 0.5rem;
				margin-inline: auto;
				color: var(--text-color-400);
			}
		}
	}

	.article-wrapper {
		text-decoration: none;
		color: black;
		/* border-radius: 1rem; */
		overflow: hidden;
		transition: box-shadow 0.4s ease-in-out;
	}

	/* .article-wrapper:hover {
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	} */
	@media (min-width: 450px) {
		.article {
			grid-template-columns: 1fr 2fr;
		}
	}
	@media (min-width: 780px) {
		.article {
			.image {
				width: 100%;
				background-color: rgb(170, 170, 170);
			}
		}
	}
</style>
